pkgbase = aurum
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/NaveLIL/aurum
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = rust
	makedepends = pkg-config
	makedepends = libgit2
	depends = paru
	depends = libgit2
	optdepends = flatpak: Flatpak search, installed apps view, and app install/uninstall support
	source = aurum::https://github.com/NaveLIL/aurum/archive/18f8a4ee8d7a6055b24f7c7d3e77993b20f87a1e.tar.gz
	sha256sums = d5558cd419c8d46bdc958064cb97f963d1ea793866414c025906ec15033512ed

pkgname = aurum
