pkgbase = aurum
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/NaveLIL/aurum
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = rust
	makedepends = pkg-config
	makedepends = libgit2
	depends = paru
	depends = libgit2
	optdepends = flatpak: Flatpak search, installed apps view, and app install/uninstall support
	source = aurum::https://github.com/NaveLIL/aurum/archive/825cb51eb891548b80812028c9f98944e6d5fddb.tar.gz
	sha256sums = e36e1a37291b49456ca45fbe519cb0c23de7e423b81975e3aa896769b1be6173

pkgname = aurum
